/* header  */
header {
    font-family: Helvetica, sans-serif;
}

#headerbar {
    background-color: black;
    color: white;
}

#headerbar .contenuto {
    width: 100px;
    height: 40px;
    position: relative;
    top: -5px;
    margin-right: 15px;
}

#headerbar h3 {
    margin-right: 15px;
}

.lens {
    width: 30px;
    margin: 0 10px;
}

.lens img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: relative;
    top: 4px;
}

.lens:hover {
    cursor: pointer;
}

.divider_hidden {
    display: none;
}

header nav {
    position: relative;
    top: -10px
}

header .navbar-light .navbar-nav .nav-link {
    color: black;
}

header button {
    margin: 0 15px;
}

header .dropdown {
 position: unset;
}

.menu_nav {
    width: 100%;
    text-align: center;
    top: 70px !important;
}

.dropdown_relative {
    position: relative !important;
}

.menu_nav li {
    display: inline-block;
}

.lista_sotto {
    text-align: center;
}

.lista_sotto a {
        color: black;
        text-decoration: none;
    }
.pallino {
    color: #0072ce;
    font-size: 30px;
    margin: 0 10px;
    position: relative;
    top: 5px;
}

main {
    font-family: Arial, Helvetica, sans-serif;
}
/* jumbotron */
#jumbotron {
    margin-top: 105px;
    color: white;
}

#jumbotron .container-fluid {
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.container-jumbotron {
    height: 700px;
    padding: 30px;
}

.container-jumbotron .row {
    flex-direction: column;
    justify-content: flex-end;
    height: 650px;
    gap: 20px;
}

.container-jumbotron img{
    width: 350px;
}

.orange {
    background-color: #cd3d0f;
}

.container-jumbotron_dw{
    background-image: none !important;
}

.container-jumbotron_dw .row {
    margin-bottom: 50px;
    padding: 30px;
    background-image: none;
}

.contenuto {
    height: auto;
    width: auto;
    border-radius: 10px;
    text-align: center;
    padding: 1px;
}

#jumbotron .contenuto {
    margin-bottom: 25px;
}


.contenuto img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}

.container-jumbotron_dw .contenuto:hover { 
    border: 2px solid #2d64e6;
}

/* ecco la playstation 5 */
#playstastion {
    padding: 30px;
}

#playstastion .title {
    text-align: center;
}

#playstastion h4 {
    color: #0072ce;
}

#playstastion h3 {
    color: #c8c8c8;
    margin-bottom: 50px;
}

.blue {
    background-color: #2d64e6;
}

#playstastion img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.margin_text{
    margin: 20px 0;
}

.opacity {
    opacity: 0.6;
}

.opacity:hover {
    opacity: 1;
}

.border_nav {
    border-bottom: 2px solid #2d64e6;
}


/* it_takes_two */
#it_takes_two {
    color: white;
    margin-top: 50px;
}

#it_takes_two .container-fluid {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;
}

/* nuove uscite */
#uscite {
    color: white;
    background-color: #1f1f1f;
    padding: 30px;
}

#uscite .contenuto {
    margin-bottom: 25px;
}

/* play4 */
#play4 {
    padding: 30px;
}

.title{
    text-align: center;
    margin-top: 50px;
}

.title h1 {
    margin-bottom: 30px;
}

#play4 h4 {
    color: #0072ce;
}

.title h3 {
    color: #c8c8c8;
    margin-bottom: 50px;
}

.registred {
    font-size: 15px;
    position: relative;
    top: -15px;
    left: -13px;
}

.contenuto h3 {
    text-align: left;
}

/* playstation plus */
#plus {
    background-color: #bebcbb;
    margin-top: 60px;
}

.pading_container {
    padding: 0 30px;
}

.text_blue {
    color: #2d64e6;
    background-color: #d9dadc;
    border: hidden;
}

.text_margin {
 margin: 55px 0;
}

/* nuovi sconti */
#sconti {
    padding: 30px;
    margin-top: 50px;
    text-align: center;
}

/* playstation now */
#now {
    background-color: #161c3b;
    color: white;
}

/* footer */
footer {
    background-color: #00439c;
    margin-top: 50px;
    padding: 80px 30px;
    color: white;
}

.size_logo {
    width: 200px;
}

.globe {
    width: 20px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: -3px;
}

footer ul {
    list-style-type: none;
}

footer a {
    color: white;
    text-decoration: none;
}

.footer_dw {
    margin-top: 50px;
}

.sottolineato {
    text-decoration: underline;
}



@media all and (max-width: 992px) {
    .text_description {
        display: none;
    }

    .text_margin {
        margin: 15px 0;
       }

    .divider_hidden {
        display: block;
        width: 200px;
        position: relative;
        left: -13px;
    }
}

@media all and (max-width: 769px) {
    .img_hidden {
        display: none;
    }

    .pading_container {
        padding: 40px 30px;
    }
}